body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: #fff;
    text-align: center;
}

h1 {
    margin: 30px 0;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    background: #1c1c1c;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #333;
}

th {
    background: #ff9800;
    color: #000;
}

tr:nth-child(even) {
    background: #2a2a2a;
}
