body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #132c9a;
    color: white;
}
.bet-box {
    max-width: 400px;
    margin: 40px auto;
    background: rgba(0,0,0,0.3);
    padding: 25px;
    text-align: center;
}

.bet-box label {
    display: block;
    margin-top: 15px;
}

.bet-box select,
.bet-box input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.bet-box button {
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    background: #ffd400;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.back-btn {
    background: #ccc;
    margin-top: 10px;
}

.user-bar {
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0,0,0,0.25);
  padding: 10px 15px;
  color: white;
}

.user-bar button {
  background: #ff5252;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: bold;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
    text-align: center;
}

.bet-btn {
    display: block;
    margin: 30px auto;
    padding: 14px 30px;
    background: #00c853;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.subtitle {
    color: #ffd400;
    letter-spacing: 2px;
    font-size: 14px;
}

h1 {
    font-size: 48px;
    margin: 10px 0 40px;
}

.table {
    display: none;
}

.table.active {
    display: block;
}

.auth-box {
    max-width: 900px;
    margin: 20px auto;
    padding: 15px 20px;

    background: rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    gap: 10px;
}

.auth-box h2 {
    margin: 0;
    margin-right: 10px;
    font-size: 16px;
    white-space: nowrap;
}

.auth-box input {
    padding: 8px;
    border: none;
    width: 160px;
}

.auth-box button {
    padding: 8px 14px;
    background: #ffd400;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.table-header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background: #ffd400;
    color: #000;
    font-weight: bold;
    padding: 12px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 14px;
    background: #1c3fe3;
    margin-bottom: 6px;
}

.row:nth-child(even) {
    background: #274bff;
}

.controls {
    margin-top: 30px;
}

.controls button {
    font-size: 22px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    background: #ffd400;
    border: none;
}

.youtube-btn {
    display: inline-block;
    margin-top: 40px;
    padding: 14px 30px;
    background: #ff0000;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.youtube-btn:hover {
    opacity: 0.85;
}

.footer {
    margin-top: 40px;
    opacity: 0.8;
}




